@import "../../responsive.scss";

.homePage {
  background: repeating-linear-gradient(127deg, #fff, rgba(229, 203, 203, 0.2509803922) 100px);
    margin-top: 24px;
  display: flex;
  min-height: 100vh;
  padding: 20px;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    .title {
      font-size: 48px;
      font-weight: bold;

      @include lg {
        font-size: 40px;
      }

      @include md {
        font-size: 32px;
      }
    }

    .boxes {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;

      @include sm {
        flex-direction: column;
        gap: 20px;
      }

      .box {
        text-align: center;
        flex: 1;

        h1 {
          font-size: 36px;

          @include lg {
            font-size: 32px;
          }

          @include md {
            font-size: 28px;
          }
        }

        h2 {
          font-size: 20px;
          font-weight: 300;
        }
      }
    }

    .reviews {
      margin-top: 30px;

      h2 {
        font-size: 24px;
        margin-bottom: 20px;
      }

      .review {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin-bottom: 10px;

        p {
          margin: 0;
        }
      }
    }

    p {
      margin-bottom: 20px;
      line-height: 1.6;
    }
  }

  .imgContainer {
    background-color: #fcf5f3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    img {
      width: 100%;
      max-width: 100%;
      object-fit: cover;
      margin-bottom: 20px;
    }

    .steps {
      background-color: #f8f9fa;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;

      h2 {
        margin-bottom: 20px;
        color: #007bff;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 20px;

          h3 {
            color: #007bff;
            margin-bottom: 5px;
          }

          p {
            margin: 0;
          }
        }
      }
    }
  }
}


.titre {
  color: #f8f9fa;
  background: repeating-linear-gradient(45deg, #000000, #33333361 100px);
  margin-top: 169px;
}
  .ders{
    color: yellow;
  }