#root > div > div.navbar > nav > div > a
{
  color: #0dcaf0;
  font-size: 20px;
  font-weight: 600;
  font-family: Nunito, sans-serif;
}

.navbar {
  background-color: #121f34 !important;
  .navbar-brand {
    display: flex;
    align-items: center;
    border: 1px solid #fff3cd;
    background-color: #121f34 !important;
    padding: 0.5rem 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;


    img {
      border: 1px solid ;
      margin-right: 10px;
      border-color: #a4f0ff;
      background-color: #ffedb2 !important;
      border-top-left-radius: 64%;
      border-top-right-radius: 64%;
      padding: 2px;
      box-shadow: 0px 0px 9px #11353c;

    }
  }

  .nav-link {
    color: #fff3cd;
    border-radius: 5%;
    margin-right: 15px;
    &:hover {
      color: #cccccc;
      border: 1px solid black;
    }

    .badge {
      font-size: 0.8em;
      vertical-align: middle;
    }
  }

  .btn-outline-light {
    background: #fff3cd;
    display: flex;
    align-items: center;
    color: #121f34;
    color: #000;

    &:hover {
      color: #cccccc;
      border-color: #cccccc;
    }

    .me-2 {
      margin-right: 5px;
    }
  }

  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}

#root > div > div.navbar > nav > div{
width: 77%;
}